<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" | Visual Memory that you have seen">
      <%= assigns[:page_title] || "Vmemo" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class=" min-h-screen flex flex-col ">
    <header class="px-4 sm:px-6 lg:px-8 flex-none">
      <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
        <div class="flex items-center gap-4">
          <%= if @current_user do %>
            <.link href="/home" class="flex gap-2 items-center font-bold">
              <img src={~p"/images/logo.png"} width="36" /> Vmemo
            </.link>
            <.link
              href="/upload"
              class="text-zinc-900 font-semibold hover:text-zinc-700 hover:underline"
            >
              /Upload
            </.link>
          <% else %>
            <a href="/" class="flex gap-2 items-center font-bold">
              <img src={~p"/images/logo.png"} width="36" /> Vmemo
            </a>
          <% end %>
        </div>

        <ul class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
          <%= if @current_user do %>
            <li class="text-[0.8125rem] leading-6 text-zinc-900">
              <%= @current_user.display_name || @current_user.email %>
            </li>
            <li>
              <.link
                href={~p"/users/settings"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Settings
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log out
              </.link>
            </li>
          <% else %>
            <li>
              <.link
                href={~p"/users/register"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Register
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_in"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log in
              </.link>
            </li>
          <% end %>
        </ul>
      </div>
    </header>

    <div class=" grow flex flex-col">
      <%= @inner_content %>
    </div>
  </body>
</html>
