/* Import scoped CSS rules for components */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@layer base {
    textarea {
        field-sizing: content;
        min-height: 3lh;

        width: 100%;
    }

    input:focus {
        outline: none;
    }

    .phx-click-loading.btn-icon {
        @apply animate-pulse text-primary;
    }
}

@layer components {
    .btn {
        @apply btn-sm;
    }

    .btn-accent:hover {
        @apply bg-opacity-80;
    }

    .btn-outline {
        @apply border-base-300 shadow-sm;
    }

    .btn-outline:hover {
        @apply bg-base-200 border-base-300 text-base-content;
    }

    .btn-circle {
        @apply ring-1 ring-base-100;
    }

    .btn-circle:where(.btn-xs) {
        height: 1.5rem;
        width: 1.5rem;
        min-height: 1.5rem;
    }

    .input {
        height: auto;
    }

    .input input,
    .input input:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }

    .input:focus,
    .input:focus-within {
        box-shadow: none;
        outline: none;
    }

    .textarea {
        font-size: 1rem;
    }

    .textarea {
        min-height: 3lh;
    }

    .textarea:focus {
        outline: none;
    }
}
